<!DOCTYPE html>
<html lang="en" data-bs-theme="@AppSettingService.AppSetting.Theme">

<head>
  <base href="/" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="@Assets["bundles/css/style.css"]" />
  <ImportMap />
  <HeadOutlet />
</head>

<body>
  <Routes />
  <script src="_framework/blazor.web.js"></script>
  <script src="@Assets["bundles/js/scripts.js"]"></script>
</body>

</html>
